HttpVerbs/Session4/Dismac.MicroservicesTraining/Dismac.HttpVerbs/obj/
HttpVerbs/Session4/Dismac.MicroservicesTraining/Dismac.HttpVerbs/bin/
HttpVerbs/Session4/Dismac.MicroservicesTraining/.vs/
CQRS/Training/Dismac.CQRS/.vs/
CQRS/Samples/Simple/Dismac.Training/Dismac.Training.CQRS/obj/
CQRS/Samples/Simple/Dismac.Training/Dismac.Training.CQRS/bin/
CQRS/Samples/Simple/Dismac.Training/.vs/
CQRS/Samples/ClassLibs/Dismac.MicroservicesTraining/src/Catalog/Catalog.Service.Queries/obj/
CQRS/Samples/ClassLibs/Dismac.MicroservicesTraining/src/Common/Service.Common.Utils/obj/
CQRS/Training/Dismac.CQRS/src/Catalog/Catalog.Persistence.Database/obj/
CQRS/Training/Dismac.CQRS/src/Catalog/Catalog.Domain/obj/
CQRS/Training/Dismac.CQRS/src/Catalog/Catalog.Api/obj/
CQRS/Training/Dismac.CQRS/src/Catalog/Catalog.Api/bin/
CQRS/Samples/ClassLibs/Dismac.MicroservicesTraining/src/Common/Service.Common.Utils/bin/
CQRS/Training/Dismac.CQRS/src/Common/Service.Common.Utils/obj/
CQRS/Training/Dismac.CQRS/src/Common/Service.Common.Utils/bin/
CQRS/Training/Dismac.CQRS/src/Catalog/Catalog.Service.Queries/obj/
CQRS/Training/Dismac.CQRS/src/Catalog/Catalog.Service.Queries/bin/
CQRS/Training/Dismac.CQRS/src/Catalog/Catalog.Persistence.Database/bin/
CQRS/Training/Dismac.CQRS/src/Catalog/Catalog.Domain/bin/
*.dll
CQRS/Samples/ClassLibs/Dismac.MicroservicesTraining/src/Catalog/Catalog.Service.Queries/bin/
CQRS/Samples/ClassLibs/Dismac.MicroservicesTraining/src/Catalog/Catalog.Service.EventHandler/obj/
CQRS/Samples/ClassLibs/Dismac.MicroservicesTraining/src/Catalog/Catalog.Service.EventHandler/bin/
CQRS/Samples/ClassLibs/Dismac.MicroservicesTraining/src/Catalog/Catalog.Persistence.Database/obj/
CleanArchitecture/Samples/Dismac.CACQRS/.vs/
CleanArchitecture/Samples/Dismac.CACQRS/src/Services/Customer/Customer.Api/obj/
CleanArchitecture/Samples/Dismac.Training.CleanArchitecture/.vs/
CQRS/Samples/ClassLibs/Dismac.MicroservicesTraining/.vs/
CQRS/Samples/ClassLibs/Dismac.MicroservicesTraining/src/Catalog/Catalog.Api/obj/
CQRS/Samples/ClassLibs/Dismac.MicroservicesTraining/src/Catalog/Catalog.Api/bin/
CQRS/Samples/ClassLibs/Dismac.MicroservicesTraining/src/Catalog/Catalog.Domain/bin/
CQRS/Samples/ClassLibs/Dismac.MicroservicesTraining/src/Catalog/Catalog.Domain/obj/
CQRS/Samples/ClassLibs/Dismac.MicroservicesTraining/src/Catalog/Catalog.Persistence.Database/bin/
CleanArchitecture/Samples/Dismac.Training.CleanArchitecture/src/Services/Customer/Customer.Api/obj/
CleanArchitecture/Samples/Dismac.Training.CleanArchitecture/src/Services/Customer/Customer.Api/bin/
CleanArchitecture/Samples/Dismac.CACQRS/src/Services/Customer/Customer.Api/bin/
CQRS/Training/Dismac.CQRS/src/Catalog/Catalog.Service.EventHandler/obj/
CQRS/Training/Dismac.CQRS/src/Catalog/Catalog.Service.EventHandler/bin/
Implementation/Sample/Dismac.Commerce/src/Services/Catalog/Catalog.Api/obj/
Implementation/Sample/Dismac.Commerce/src/Services/Catalog/Catalog.Domain/obj/
Implementation/Sample/Dismac.Commerce/src/Services/Catalog/Catalog.Persistence.Database/bin/
Implementation/Sample/Dismac.Commerce/src/Services/Catalog/Catalog.Persistence.Database/obj/
Implementation/Sample/Dismac.Commerce/src/Services/Catalog/Catalog.Service.Queries/obj/
Implementation/Sample/Dismac.Commerce/src/Services/Common/Service.Common.Utils/obj/
Implementation/Sample/Dismac.Commerce/src/Services/Common/Service.Common.Utils/bin/
Implementation/Sample/Dismac.Commerce/src/Services/Catalog/Catalog.Service.Queries/bin/
Implementation/Sample/Dismac.Commerce/src/Services/Catalog/Catalog.Service.EventHandler/bin/
Implementation/Sample/Dismac.Commerce/src/Services/Catalog/Catalog.Service.EventHandler/obj/
Implementation/Sample/Dismac.Commerce/src/Services/Catalog/Catalog.Api/bin/
Implementation/Sample/Dismac.Commerce/.vs/
CleanArchitecture/Training/Dismac.CleanArchitecture/.vs/
Implementation/Sample/Dismac.Commerce/src/Services/Common/Service.Common.Logging/obj/
Implementation/Sample/Dismac.Commerce/src/Services/Catalog/Catalog.Domain/bin/
Implementation/Sample/Dismac.Commerce/src/Services/Catalog/Catalog.Common/obj/
Implementation/Sample/Dismac.Commerce/src/Services/Common/Service.Common.Logging/bin/
Implementation/Sample/Dismac.Commerce/src/Services/Catalog/Catalog.Common/bin/
CleanArchitecture/Training/Dismac.CleanArchitecture/src/Services/Customer/Customer.Api/obj/
CleanArchitecture/Training/Dismac.CleanArchitecture/src/Services/Customer/Customer.Api/bin/
Implementation/Training/Dismac.Ecommerce/src/Services/Catalog/Catalog.Persistence.Database/obj/
Implementation/Training/Dismac.Ecommerce/src/Services/Shared/Service.Shared.Utils/obj/
Implementation/Training/Dismac.Ecommerce/src/Services/Catalog/Catalog.Shared/obj/
Implementation/Training/Dismac.Ecommerce/src/Services/Catalog/Catalog.Service.Queries/obj/
Implementation/Training/Dismac.Ecommerce/src/Services/Catalog/Catalog.Service.Queries/bin/
Implementation/Training/Dismac.Ecommerce/src/Services/Catalog/Catalog.Shared/bin/
Implementation/Training/Dismac.Ecommerce/src/Services/Catalog/Catalog.Service.EventHandlers/obj/
Implementation/Training/Dismac.Ecommerce/src/Services/Catalog/Catalog.Domain/obj/
Implementation/Training/Dismac.Ecommerce/src/Services/Catalog/Catalog.Service.EventHandlers/bin/
Implementation/Training/Dismac.Ecommerce/src/Services/Shared/Service.Shared.Utils/bin/
Implementation/Training/Dismac.Ecommerce/src/Services/Catalog/Catalog.Persistence.Database/bin/
Implementation/Training/Dismac.Ecommerce/src/Services/Catalog/Catalog.Api/obj/
Implementation/Training/Dismac.Ecommerce/src/Services/Catalog/Catalog.Domain/bin/
Implementation/Training/Dismac.Ecommerce/src/Services/Catalog/Catalog.Api/bin/
*.suo
Implementation/Training/Dismac.Ecommerce/.vs/
Implementation/Sample/Dismac.Commerce/src/Services/Catalog/Catalog.Tests/bin/
Implementation/Sample/Dismac.Commerce/src/Services/Catalog/Catalog.Tests/obj/
Implementation/Sample/Dismac.Commerce/src/Services/Customer/Customer.Api/bin/
Implementation/Sample/Dismac.Commerce/src/Services/Customer/Customer.Api/obj/
Implementation/Sample/Dismac.Commerce/src/Services/Customer/Customer.Domain/bin/
Implementation/Sample/Dismac.Commerce/src/Services/Customer/Customer.Domain/obj/
Implementation/Sample/Dismac.Commerce/src/Services/Customer/Customer.Persistence.Database/bin/
Implementation/Sample/Dismac.Commerce/src/Services/Customer/Customer.Persistence.Database/obj/
Implementation/Sample/Dismac.Commerce/src/Services/Customer/Customer.Service.EventHandler/obj/
Implementation/Sample/Dismac.Commerce/src/Services/Customer/Customer.Service.Queries/bin/
Implementation/Sample/Dismac.Commerce/src/Services/Customer/Customer.Service.Queries/obj/
Implementation/Sample/Dismac.Commerce/src/Services/Order/Order.Api/bin/
Implementation/Sample/Dismac.Commerce/src/Services/Order/Order.Api/obj/
Implementation/Sample/Dismac.Commerce/src/Services/Order/Order.Domain/obj/
Implementation/Sample/Dismac.Commerce/src/Services/Customer/Customer.Service.EventHandler/bin/
Implementation/Training/Dismac.Ecommerce/src/Services/Shared/Service.Shared.Logging/obj/
Implementation/Sample/Dismac.Commerce/src/Services/Order/Order.Service.EventHandlers/obj/
Implementation/Training/Dismac.Ecommerce/src/Services/Shared/Service.Shared.Logging/bin/
Implementation/Sample/Dismac.Commerce/src/Services/Order/Order.Service.EventHandlers/bin/
Implementation/Sample/Dismac.Commerce/src/Services/Order/Order.Persistence.Database/obj/
Implementation/Sample/Dismac.Commerce/src/Services/Order/Order.Persistence.Database/bin/
Implementation/Sample/Dismac.Commerce/src/Services/Order/Order.Domain/bin/
Implementation/Sample/Dismac.Commerce/src/Services/Catalog/Catalog.Listener/bin/
Implementation/Sample/Dismac.Commerce/src/Services/Catalog/Catalog.Listener/obj/
Implementation/Sample/Dismac.Commerce/src/Services/Order/Order.Common/obj/
Implementation/Sample/Dismac.Commerce/src/Services/Order/Order.Common/bin/
Implementation/Sample/Dismac.Commerce/src/Services/Order/Order.Service.Proxy/obj/
Implementation/Sample/Dismac.Commerce/src/Services/Order/Order.Service.Queries/obj/
Implementation/Sample/Dismac.Commerce/src/Services/Order/Order.Service.Queries/bin/
Implementation/Sample/Dismac.Commerce/src/Services/Order/Order.Service.Proxy/bin/
Implementation/Sample/Dismac.Commerce/src/Services/Identity/Identity.Api/obj/
Implementation/Sample/Dismac.Commerce/src/Services/Identity/Identity.Domain/obj/
Implementation/Sample/Dismac.Commerce/src/Services/Identity/Identity.Persistence.Database/obj/
Implementation/Sample/Dismac.Commerce/src/Services/Identity/Identity.Service.EventHandlers/obj/
Implementation/Sample/Dismac.Commerce/src/Services/Identity/Identity.Service.Queries/obj/
Implementation/Sample/Dismac.Commerce/src/Services/Identity/Identity.Service.Queries/bin/
Implementation/Sample/Dismac.Commerce/src/Services/Identity/Identity.Service.EventHandlers/bin/
Implementation/Sample/Dismac.Commerce/src/Services/Identity/Identity.Persistence.Database/bin/
Implementation/Sample/Dismac.Commerce/src/Services/Identity/Identity.Domain/bin/
Implementation/Sample/Dismac.Commerce/src/Services/Identity/Identity.Api/bin/
.vs/
Implementation/Training/Dismac.Ecommerce/src/Services/Catalog/Catalog.Tests/bin/
Implementation/Training/Dismac.Ecommerce/src/Services/Catalog/Catalog.Tests/obj/
Implementation/Sample/Dismac.Commerce/src/Clients/Clients.Authentication/obj/
Implementation/Sample/Dismac.Commerce/src/Gateway/Api.Gateway.Models/obj/
Implementation/Sample/Dismac.Commerce/src/Gateway/Api.Gateway.WebClient/bin/
Implementation/Sample/Dismac.Commerce/src/Gateway/Api.Gateway.WebClient/obj/
Implementation/Training/Dismac.Ecommerce/src/Services/Customer/Customer.Api/bin/
Implementation/Training/Dismac.Ecommerce/src/Services/Customer/Customer.Api/obj/
Implementation/Training/Dismac.Ecommerce/src/Services/Customer/Customer.Domain/obj/
Implementation/Training/Dismac.Ecommerce/src/Services/Order/Order.Api/bin/
Implementation/Training/Dismac.Ecommerce/src/Services/Order/Order.Api/obj/
Implementation/Training/Dismac.Ecommerce/src/Services/Order/Order.Domain/obj/
Implementation/Training/Dismac.Ecommerce/src/Services/Order/Order.Persistence.Database/obj/
Implementation/Training/Dismac.Ecommerce/src/Services/Order/Order.Service.EventHandlers/obj/
Implementation/Training/Dismac.Ecommerce/src/Services/Order/Order.Service.EventHandlers/bin/
Implementation/Training/Dismac.Ecommerce/src/Services/Order/Order.Service.Proxy/obj/
Implementation/Training/Dismac.Ecommerce/src/Services/Order/Order.Shared/bin/
Implementation/Training/Dismac.Ecommerce/src/Services/Order/Order.Shared/obj/
Implementation/Training/Dismac.Ecommerce/src/Services/Order/Order.Domain/bin/
Implementation/Training/Dismac.Ecommerce/src/Services/Order/Order.Persistence.Database/bin/
Implementation/Training/Dismac.Ecommerce/src/Services/Customer/Customer.Domain/bin/
Implementation/Sample/Dismac.Commerce/src/Gateway/Api.Gateway.Proxies/obj/
Implementation/Sample/Dismac.Commerce/src/Gateway/Api.Gateway.Proxies/bin/
Implementation/Sample/Dismac.Commerce/src/Gateway/Api.Gateway.Models/bin/
*.user
Implementation/Training/Dismac.Ecommerce/src/Services/Order/Order.Service.Proxy/bin/
Implementation/Training/Dismac.Ecommerce/src/Services/Customer/Customer.Service.Queries/obj/
Implementation/Training/Dismac.Ecommerce/src/Services/Customer/Customer.Service.Queries/bin/
Implementation/Training/Dismac.Ecommerce/src/Services/Customer/Customer.Service.EventHandlers/obj/
Implementation/Training/Dismac.Ecommerce/src/Services/Customer/Customer.Service.EventHandlers/bin/
Implementation/Training/Dismac.Ecommerce/src/Services/Customer/Customer.Persistence.Database/obj/
Implementation/Training/Dismac.Ecommerce/src/Services/Customer/Customer.Persistence.Database/bin/
Implementation/Training/Dismac.Ecommerce/src/Services/Catalog/Catalog.Listener/obj/
Implementation/Training/Dismac.Ecommerce/src/Services/Catalog/Catalog.Listener/bin/
Implementation/Training/Dismac.Ecommerce/src/Services/Identity/Identity.Service.EventHandlers/obj/
Implementation/Training/Dismac.Ecommerce/src/Services/Identity/Identity.Service.EventHandlers/bin/
Implementation/Training/Dismac.Ecommerce/src/Services/Identity/Identity.Persistence.Database/obj/
Implementation/Training/Dismac.Ecommerce/src/Services/Identity/Identity.Persistence.Database/bin/
Implementation/Training/Dismac.Ecommerce/src/Services/Identity/Identity.Domain/obj/
Implementation/Training/Dismac.Ecommerce/src/Services/Identity/Identity.Api/obj/
Implementation/Training/Dismac.Ecommerce/src/Services/Identity/Identity.Domain/bin/
Implementation/Training/Dismac.Ecommerce/src/Services/Identity/Identity.Api/bin/
Implementation/Sample/Dismac.Commerce/src/Gateway/Api.Gateway.WebClientProxy/obj/
Implementation/Sample/Dismac.Commerce/src/Clients/Clients.WebClient/obj/
Implementation/Sample/Dismac.Commerce/src/Clients/Clients.Authentication/bin/
Implementation/Sample/Dismac.Commerce/src/Clients/Clients.WebClient/bin/
Implementation/Sample/Dismac.Commerce/src/Gateway/Api.Gateway.WebClientProxy/bin/
Implementation/Training/Dismac.Ecommerce/src/Gateways/Api.Gateway.Models/obj/
Docker/Sample/Dismac.Docker.WebApi/obj/
Implementation/Training/Dismac.Ecommerce/src/Gateways/Api.Gateway.WebClient/obj/
Implementation/Training/Dismac.Ecommerce/src/Services/Identity/Identity.Service.Queries/obj/
Implementation/Training/Dismac.Ecommerce/src/Services/Identity/Identity.Service.Queries/bin/
Implementation/Training/Dismac.Ecommerce/src/Gateways/Api.Gateway.WebClient/bin/
Implementation/Training/Dismac.Ecommerce/src/Gateways/Api.Gateway.Proxies/obj/
Docker/Sample/Dismac.Docker.WebApi/Dismac.Docker.WebApi/obj/
Docker/Sample/Dismac.Docker.WebApi/bin/
Docker/Sample/Dismac.Docker.WebApi/Dismac.Docker.WebApi/bin/
Implementation/Training/Dismac.Ecommerce/src/Clients/Clients.Authentication/bin/
Implementation/Training/Dismac.Ecommerce/src/Clients/Clients.Authentication/obj/
Implementation/Training/Dismac.Ecommerce/src/Clients/Clients.WebClient/obj/
Implementation/Training/Dismac.Ecommerce/src/Gateways/Api.Gateway.Proxies/bin/
Implementation/Training/Dismac.Ecommerce/src/Gateways/Api.Gateway.Models/bin/
Implementation/Training/Dismac.Ecommerce/src/Services/Order/Order.Service.Queries/bin/
Implementation/Training/Dismac.Ecommerce/src/Services/Order/Order.Service.Queries/obj/
